In [1]:
number1=100
number2=200
number1   # 100 is not coming
number2   # 200 is latest so it is coming

200

In [2]:
# in order to if you want to see both answer
# print

In [3]:
number1=100 #100 is saved in a variable number1
number2=200 #200 is saved in a variable number2
print(number1) #print the volume1=100
print(number2) #print the volume2=200

100
200

In [4]:
print(number1,number2)

100 200

In [5]:
print(number1)
print('------')
print(200)
print('*******')

100
------
200
*******

In [6]:
print('hai',end='$')
print('how')

hai$how

In [7]:
print('1',end='  ')
print('2',end='  ')
print('3')

1  2  3

In [8]:
number1=100
number2=200
add=number1+number2
print('the addition of number1 and number2 is',add)

the addition of number1 and number2 is 300

In [9]:
number1=20
number2=40
add=number1+number2
print('the adddition of number1 and number2 is',add)

the adddition of number1 and number2 is 60

In [ ]:
# the addition of 20 and 40 is 60

In [10]:
num1=2000
num2=4000
add=num1+num2
print("the addition of",num1,"and",num2,"is",add)

the addition of 2000 and 4000 is 6000

In [ ]:
# step-1: variable name ='python'
# step-2:          city ='hyd'
# step-3:          age =10

In [11]:
name="python"
city="hyd"
age=10
print("my name is",name,'im from',city,)
print("im",age,"years old")

my name is python im from hyd
im 10 years old

In [12]:
num1=200
num2=400
add=num1+num2
print("the addition of {}  and {} is {}".format(num1,num2,add))

the addition of 200  and 400 is 600

In [15]:
name='python'
city='hyd'
age=10
print("my name is {}, im from {} and my age is {} year old".format(name,city,age))

my name is python, im from hyd and my age is 10 year old

In [ ]:
# step-1:  value=200
# step-2:  value=30
# step-3:  add=value1+value2
# step-4:  sub=value1-value2
# step-5:  mul=value1*value2
# step-6:  div=value1/value2
#the addition of 20 and 30 is :-50
#the substraction of 20 and 30 is :-10
# the multiplication of 20 and 30 is :-600
#the division of 20 and 30 is

In [ ]:
value1=20
value=30
add=value1+value2
sub=value1-value2
mul=value1*value2
div=round(value1/value2,2)
print("the addition of {} and {}  is {}".)

In [17]:
input("enter some name:")

enter some name:python

'python'

In [18]:
name1=input("what is A for:")
name2=input("what is B for:")
print(name1,name2)

what is A for:Apple
what is B for:Ball
Apple Ball

In [20]:
print(name1,name2)

Apple Ball

In [21]:
val1 = input("enter val1:")
val2 = input("enter val2:")
add =val1+val2
print("the addition of {} and {} is {}".format(val1,val2,add))

enter val1:20
enter val2:30
the addition of 20 and 30 is 2030

In [22]:
val1 =int(input("enter val1:"))
val2 =int(input("enter val2:"))
add =val1+val2
print("the addition of {} and {} is {}".format(val1,val2,add))

enter val1:20
enter val2:30
the addition of 20 and 30 is 50

In [23]:
val1 = input("enter val1:")
val2 = input("enter val2:")
add =int(val1)+int(val2)
print("the addition of {} and {} is {}".format(val1,val2,add))

enter val1:20
enter val2:30
the addition of 20 and 30 is 50

In [24]:
num1 =int(input("enter a number1:"))
num2 =flooat(input("enter a number2"))
print(num1+num2)

enter a number1:200

NameError: name 'flooat' is not defined

In [25]:
int('200')----works     int('200.5')---fails
float('200')----works    float('200.5')---works

SyntaxError: invalid syntax (85938395.py, line 1)

In [ ]:
int('200')----works     int('200.5')---fails
float('200')----works    float('200.5')---works