In [1]:
#error-2:    #sytex error
num1=eval(input("enter a number1:"))
num2=eval(input("enter a number2:"))
print(add)

enter a number1:100
enter a number2:0

NameError: name 'add' is not defined

In [2]:
num1=input("enter a number1:") #sring
num2=eval(input("enter a number2:"))# int
add=(num1/num2)
print(add)

enter a number1:20
enter a number2:10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [3]:
num1=eval(input("enter a number1:"))
num2=eval(input("enter a number2:"))
add=num1/num2
Print(add)

enter a number1:100
enter a number2:200

NameError: name 'Print' is not defined

#possibile errors:
.Name error
.sytex error:"(was never closed
.zero division error:division by zero
.type error :unsupported

# try except

- there are two blocks

- one try block

- another is exception block

- your code will be there in try block

- error capture will happens in except block

- indentation :space

- red :space/indentation not maintained properly

- indentation has min 4 charecters

- :is there,the indentation will be there

In [4]:
try:
    num1=10
    num2=20
    num3=20
    add=num1+num2+num3
    print(add)

SyntaxError: incomplete input (1801543802.py, line 6)

In [5]:
try:
    num1=10
    num2=0
    num3=20
    add=num1/num2  # 10/0 === > zero
    print(add)
    
    except:
        print("error is there,check code")

SyntaxError: invalid syntax (3137334466.py, line 8)

In [6]:
# wap ask the user enter 3 numbers and find average
num1=eval(input("enter number1:"))
num2=eval(input("enter number2:"))
num3=eval(input("enter number3:"))
average=(num1+num2+num3)/3
print("the average of {} ,{} and {} is {}".format(num1,num2,num3,average))

enter number1:20
enter number2:30
enter number3:40
the average of 20 ,30 and 40 is 30.0

In [7]:
try:
    num1=eval(input("enter number1:"))
    num2=eval(input("enter number2:"))
    num3=eval(input("enter number3:"))
    average=(num1+num2+num3)/3
    print("the average of {} ,{} and {} is {}".format(num1,num2,num3,average))
    
except Exception as e:
    print(e)

enter number1:10
enter number2:20
enter number3:30
the average of 10 ,20 and 30 is 20.0

In [8]:
try:
    num1=eval(input("enter number1:"))
    num2=eval(input("enter number2:"))
    num3=eval(input("enter number3:"))
    average=(num1+num2+num3)/0
    print("the average of {} ,{} and {} is {}".format(num1,num2,num3,average))
    
except Exception as e:
    print(e)

enter number1:20
enter number2:30
enter number3:40
division by zero

In [9]:
try:
    num1=eval(input("enter number1:"))
    num2=eval(input("enter number2:"))
    num3=eval(input("enter number3:"))
    average=(num1+num2+num33)/3
    print("the average of {} ,{} and {} is {}".format(num1,num2,num3,average))
    
except Exception as e:
    print(e)

enter number1:10
enter number2:20
enter number3:30
name 'num33' is not defined

In [ ]:
# wap ask the user enter a number and find the squre of the number

In [10]:
try:
    value1=eval(input("enter the number"))
    squre=value1*value1
    print("the squre of number {} is {}".format(value1,squre))
    
except Exception as e:
    print(e)

enter the number10
the squre of number 10 is 100

In [11]:
import sys 
sys.exc_info()

(None, None, None)

In [12]:
try:
    value1=eval(input("enter the number"))
    squre=value1*value1
    print("the squre of number {} is {}".format(value1,squre))
    
except Exception as e:
    print(e)
    print('hello')

enter the number10
the squre of number 10 is 100

In [13]:
try:
    value1=eval(input("enter the number"))
    squre=value1*value1
    print("the squre of number {} is {}".format(value111,squre))
    
except Exception as e:
    print(e)
    print('hyy')

enter the number10
name 'value111' is not defined
hyy

In [14]:
try:
    value1=eval(input("enter the number"))
    squre=value1*value1
    print("the squre of number {} is {}".format(value111,squre))
    
except Exception as e:
    print('hyy')
    print(e)
    print('hello')

enter the number10
hyy
name 'value111' is not defined
hello

In [15]:
try:
    value1=eval(input("enter the number"))
    squre=value1*value1
    print("the squre of number {} is {}".format(value111,squre)) # error
    
except Exception as e:
    print('hyy')
    print(e)
    print('hello')

    
print('python')
print(1)
print(2)

enter the number10
hyy
name 'value111' is not defined
hello
python
1
2

- if your code is with out error ,try block will execute

- if your code has errors , it will redirect to except block

- what ever you written inside except block that will run

- try and exception is together

- ones try and exception code are complete, it try to look any other lines of code are there

In [16]:
print("===================")
print(3+5)
print('*******************')

try:
    value1=eval(input("enter the number"))
    squre=value1*value1
    print("the squre of number {} is {}".format(value111,squre)) # error
    
except Exception as e:
    print('hyy')
    print(e)
    print('hello')

    
print('python')
print(1)
print(2)

===================
8
*******************
enter the number20
hyy
name 'value111' is not defined
hello
python
1
2

In [17]:
print(100)

100