In [ ]:
# string
# list
# dictionary
# tuple
# set

 **how to read the strings**

In [1]:
string1='python'  # single quote
string1

'python'

In [2]:
string2="python"  # double quote
string2

'python'

In [ ]:
# triple quotes
# doc string is used to say some information about your python code

In [ ]:
"""
im creating a hello function
arguments:none
return:   none
"""
def hello():
    print("good morning")

In [3]:
string3="hello 'python'"
print(string3)

hello 'python'

In [4]:
string4='hello "python"'
print(string4)

hello "python"

- type
- len
- max
- min

**type**

In [6]:
string1

'python'

In [7]:
type(string1)

str

**len**

In [8]:
len(string1)

6

**max-min**

In [9]:
max(string1)

'y'

In [11]:
string1='pP'
max(string1)

'p'

$ord$-$chr$

In [13]:
ord('p')

112

In [14]:
ord('P')

80

In [15]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [16]:
chr(112),chr(121),chr(116),chr(104),chr(111),chr(110)

('p', 'y', 't', 'h', 'o', 'n')

In [17]:
for i in range(len('python')):
    print(i)

0
1
2
3
4
5

In [18]:
string1='python'
'p' in string1
'y' in string1
't' in string1
'h' in string1
'o' in string1
'n' in string1

# i in string1

True

In [19]:
for i in string1:
    print(i)

p
y
t
h
o
n

- range() :you need to provide number inside the range
- in: is used only for strings
- if you want print the letters using for loop go for in operator

In [20]:


print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))


print(ord(i))

112
121
116
104
111
110
110

In [21]:
for i in string1:
    print(ord(i))
    
    # the ascii value of p is 112

112
121
116
104
111
110

the ascii value of p is 112
the ascii value of y is 121
the ascii value of t is 116
the ascii value of h is 104
the ascii value of o is 111
the ascii value of n is 110

In [ ]:
# ascii value of A to Z

In [23]:
string='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
for i in string:
    print("the ascii value of {} is {} ".format(i,ord(i)))

the ascii value of A is 65
the ascii value of B is 66
the ascii value of C is 67
the ascii value of D is 68
the ascii value of E is 69
the ascii value of F is 70
the ascii value of G is 71
the ascii value of H is 72
the ascii value of I is 73
the ascii value of J is 74
the ascii value of K is 75
the ascii value of L is 76
the ascii value of M is 77
the ascii value of N is 78
the ascii value of O is 79
the ascii value of P is 80
the ascii value of Q is 81
the ascii value of R is 82
the ascii value of S is 83
the ascii value of T is 84
the ascii value of U is 85
the ascii value of V is 86
the ascii value of W is 87
the ascii value of X is 88
the ascii value of Y is 89
the ascii value of Z is 90

In [24]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [25]:
for i in string.ascii_uppercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of A is 65
the ascii value of B is 66
the ascii value of C is 67
the ascii value of D is 68
the ascii value of E is 69
the ascii value of F is 70
the ascii value of G is 71
the ascii value of H is 72
the ascii value of I is 73
the ascii value of J is 74
the ascii value of K is 75
the ascii value of L is 76
the ascii value of M is 77
the ascii value of N is 78
the ascii value of O is 79
the ascii value of P is 80
the ascii value of Q is 81
the ascii value of R is 82
the ascii value of S is 83
the ascii value of T is 84
the ascii value of U is 85
the ascii value of V is 86
the ascii value of W is 87
the ascii value of X is 88
the ascii value of Y is 89
the ascii value of Z is 90

In [26]:
for i in string.ascii_lowercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of a is 97
the ascii value of b is 98
the ascii value of c is 99
the ascii value of d is 100
the ascii value of e is 101
the ascii value of f is 102
the ascii value of g is 103
the ascii value of h is 104
the ascii value of i is 105
the ascii value of j is 106
the ascii value of k is 107
the ascii value of l is 108
the ascii value of m is 109
the ascii value of n is 110
the ascii value of o is 111
the ascii value of p is 112
the ascii value of q is 113
the ascii value of r is 114
the ascii value of s is 115
the ascii value of t is 116
the ascii value of u is 117
the ascii value of v is 118
the ascii value of w is 119
the ascii value of x is 120
the ascii value of y is 121
the ascii value of z is 122

In [27]:
for i in string.punctuation:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of ! is 33
the ascii value of " is 34
the ascii value of # is 35
the ascii value of $ is 36
the ascii value of % is 37
the ascii value of & is 38
the ascii value of ' is 39
the ascii value of ( is 40
the ascii value of ) is 41
the ascii value of * is 42
the ascii value of + is 43
the ascii value of , is 44
the ascii value of - is 45
the ascii value of . is 46
the ascii value of / is 47
the ascii value of : is 58
the ascii value of ; is 59
the ascii value of < is 60
the ascii value of = is 61
the ascii value of > is 62
the ascii value of ? is 63
the ascii value of @ is 64
the ascii value of [ is 91
the ascii value of \ is 92
the ascii value of ] is 93
the ascii value of ^ is 94
the ascii value of _ is 95
the ascii value of ` is 96
the ascii value of { is 123
the ascii value of | is 124
the ascii value of } is 125
the ascii value of ~ is 126

In [28]:
# what is the start and end of ascii numbers?
ord('a')

97

In [29]:
for i in range (1,50):
    print(i,chr(i))

1 
2 
3 
4 
5 
6 
7 
8 
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1

In [30]:
for i in range (100,150):
    print(i,chr(i))

100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~
127 
128 
129 
130 
131 
132 
133
134 
135 
136 
137 
138 
139 
140 
141 
142 
143 
144 
145 
146 
147 
148 
149 

In [31]:
for i in range (33,126):
    print(i,chr(i))
    
    # start with 33
    # end with 126

33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }

In [32]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [33]:
string.printable

# digts
# lower
# upp
# punt

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [1]:
# wap ask the user find number of 'a' letters in a given string
# string='hai how are you and how do you do'

string='hai how are you and how do you do'
count=0
for i in string:
    if i=='a':
        count=count+1
        
print(count)

3

In [40]:
# wap count the number of vowels in a given string
# string='hai how are you'

string='hai how are you'
count=0
for i in string:
    if i=='a'or i=='e'or i=='i'or i=='o'or i=='u':
        count=count+1
        
print(count)

7

In [44]:
# or  Q
string='hai how are you'
count=0
for i in string:
    if i in'aeiou':
        count=count+1
        
print(count)

7

In [46]:
# wap count the number of unique vowels in a given string
# string='hai how are you'

string1=''
for i in 'python':
    string1=string1+i
    
print(string1)

python

In [47]:
string='hai how are you'
str1=''
count=0
for i in string:
    if i in'aeiou':
        count=count+1
        
print(count)

7

$concatenation$

In [49]:
str1='hai'
str2='how'
str1+str2

'haihow'

In [50]:
str1-str2
str1*str2
str1/str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [51]:
3*str2

'howhowhow'

- how to red
- single/double/triple
- tyoe
- len
- in(how to operate through for loop)
- max
- min
- concatenation

$Index$

In [55]:
string1='python'
string1

'python'

In [57]:
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

string1[i]

TypeError: string indices must be integers, not 'str'

In [58]:
for i in range(6):
    print(string1[i],end=' ')

p y t h o n

In [59]:
string1='python'
for i in string1:
    print(i)
    
for i in range(len(string1)):
    print(i,string1[i])

p
y
t
h
o
n
0 p
1 y
2 t
3 h
4 o
5 n

In [61]:
name='python class'
for i in name:
    print("the index no of '{}' is {}".format(name[i],i))

TypeError: string indices must be integers, not 'str'

In [ ]:
-6 -5 -4 -3 -2 -1
p  y  t   h  o  n
0  1  2   3  4  5

In [6]:
string1='python'
string1[2]

't'

In [6]:
string1[-6],string1[-5],string1[-4],string1[-3],string1[-2],string1[-1]

('p', 'y', 't', 'h', 'o', 'n')

In [7]:
# iterate the for loop in string1
# print the letters using negative index
# the idea is first you need to print the numbers between -6 to -1 using for loop


string1='python'
for i in range(-len(string),0):
    print("the negative index of {} is {}".format(string[i],i))

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [8]:
string1='python'
for i in range(len(string1)):
    print("the negative index of {} is {}".format(string[i],i-6))

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [9]:
string1='python'
for i in range(len(string1)):
    print("the positive index is {} and negative index is {} for {}".format(i,string[i],i-6))

the positive index is 0 and negative index is p for -6
the positive index is 1 and negative index is y for -5
the positive index is 2 and negative index is t for -4
the positive index is 3 and negative index is h for -3
the positive index is 4 and negative index is o for -2
the positive index is 5 and negative index is n for -1

In [12]:
string1='python'
for i in range(-len(string1),0):
    print("the positive index of {} is {}".format(string[i],i+6))
    
    
string1='python'
for i in range(-len(string1),0):
    print("the negative index of {} is {}".format(string[i],i))  
    
    
string1='python'
for i in range(-len(string1),0):
    print("the positive index is {} and negative index is {} for {}".format(i-6,string[i],i))

the positive index of p is 0
the positive index of y is 1
the positive index of t is 2
the positive index of h is 3
the positive index of o is 4
the positive index of n is 5
the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1
the positive index is -12 and negative index is p for -6
the positive index is -11 and negative index is y for -5
the positive index is -10 and negative index is t for -4
the positive index is -9 and negative index is h for -3
the positive index is -8 and negative index is o for -2
the positive index is -7 and negative index is n for -1

In [11]:
i=0
while i<(len(string1)):
    for i in range(len(string1)):
        print("the positive index of {} is {}".format(string1[i],i))
        i=i+1

the positive index of p is 0
the positive index of y is 1
the positive index of t is 2
the positive index of h is 3
the positive index of o is 4
the positive index of n is 5

In [14]:
i=0
while i<len(string1):
    print("the positive index is {} and negative index is {} for {}".format(i,i-6,string[i]))    
    i=i+1

the positive index is 0 and negative index is -6 for p
the positive index is 1 and negative index is -5 for y
the positive index is 2 and negative index is -4 for t
the positive index is 3 and negative index is -3 for h
the positive index is 4 and negative index is -2 for o
the positive index is 5 and negative index is -1 for n

In [15]:
string1='hai how are you'
count=1
for i in string1:
    if i=='a':
        count+=1
        
print(count)

3

In [17]:
string1='hai how are you'
count=0
for i in range(len(string1)):
    if string1[i]=='a':
        count+=1
        
print(count)

2

# Mutable and immutable concepy

- mutable======== we can change
- immutable======= we can not change the value by using index operation
- strings are immutablae

In [18]:
string1='python'
# i want change 'p'  ==== 'p'
# o/p: 'python'
string1[0]='p'

TypeError: 'str' object does not support item assignment

In [19]:
list1=[100,200,2000]
list1[0]=1000
list1

[1000, 200, 2000]

$Slice$

In [ ]:
h  a  i     h  o  w     a  r  e      y  o  u
0  1  2  3  4  5  6  7  8  9  10  11 12 13 14

In [20]:
string1='hai how are you'
string1[2:10]

'i how ar'

In [21]:
string1='hai how are you'
string1[2:10:3]

'ioa'

In [22]:
string1[:]
# nothing mentioned means take start and last letter

'hai how are you'

In [23]:
string1[::]
# start=0
# stop =last letter len(string1)
# step=+1

'hai how are you'

In [24]:
string1='hai how are you'
string1[2:10]
string1[2:10:3]
string1[:]
string1[::]

'hai how are you'

In [25]:
string1[2:10:-3]

''

In [26]:
for i in range(2,10,-3):print(i)

In [ ]:
-15-14-13-12-11-10-9 -8  -7-6 -5   -4 -3-2-1  
h   a  i     h  o  w     a  r  e      y  o  u
0   1  2  3  4  5  6  7  8  9  10  11 12 13 14

In [27]:
for i in range(2,-14,-2):print(i,end=' ')

2 0 -2 -4 -6 -8 -10 -12

In [28]:
string1[8:-15:-2]  # start=8   # stop=-15+1=-14 # step =2

'awhi'

In [29]:
string1[2:-14:-2]

'i'

In [30]:
string1[3:-14:-2]

' '

In [31]:
string1[-2:14:2]

'o'

In [32]:
string1[-2:-14:-2]

'o r o '

In [8]:
string1='hai how are you' # 
string1[11:-14:-2]

' r o '

In [13]:
# -15-14-13-12-11-10-9 -8  -7-6 -5   -4 -3-2-1  
string1='hai how are you'
# 0   1  2  3  4  5  6  7  8  9  10  11 12 13 14

In [14]:
string1[11:-14:-2]

' r o '

# String Methods

In [34]:
import <package_name>
dir(<package_name>)
help(<package_name>.<method_name>)

SyntaxError: invalid syntax (2473570362.py, line 1)

In [47]:
dir(string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

$Capitalize$

In [35]:
string1='welcome'
help(string1.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [36]:
string1='welcome'
string1.capitalize()

'Welcome'

$Upper$

In [37]:
string1='welcome'
string1.upper()

'WELCOME'

$Lower$

In [38]:
string1='welcome'
string1.lower()

'welcome'

In [42]:
string1='welcome'
print(string1.capitalize())
print(string1.upper())
print(string1.lower())

Welcome
WELCOME
welcome

In [43]:
string1.count('a')

0

In [ ]:
count=0
for i in string1:
    if i=='a':
        count+=1

In [ ]:
string1='welcome'
# output: 'welcome'
# idea:
# str1=we
# str2=come
# index
# slice
# concatenation= str1+'L'+ str2

In [45]:
string1='welcome'
str1=string1[:2]
str2=string1[3:]
str1+'L'+str2

'weLcome'

In [46]:
string1.replace('l','L')

'weLcome'

**casefold**

In [1]:
string2='welcome'
string2.casefold()

'welcome'

- capitalize: first letter as capital
- upper: all letters are upper case
- lower: all lerrers are in lower case
- casefold: case less comparision(lower case)

In [2]:
string1='hai how are you'
string1.count('a')

2

In [3]:
string1.count('hai')

1

In [4]:
string1='ola ola ola'
print(string1.count('ola '))

2

In [10]:
string1='ola ola ola'
# ola   ola   ola
# 012 3 456 7 8910
# we are counting the number of 'a' from idex 4
print(string1.count('a',4))
print(string1.count('a',6))
print(string1.count('a',4,6))
print(string1.count('a',4,7))
print(string1.count('A'.lower(),4))
print(string1.count('a'.upper(),4))

2
2
0
1
2
0

In [11]:
'ola ola ola'.count('a')

3

In [12]:
string1='ola ola ola '
count=0
for i in string1:
    if i=='a':
        count+=1
        
print(count)

3

In [13]:
string1='ola ola ola '
count=0
for i in range (len(string1)):
    if string1[i:i+3]=='ola':
        count+=1
        
print(count)
# i=0  string[0:3]: 0 1 2 :ola
# i=1  string[1:4]: 1 2 3 :la

3

In [14]:
string1.count('a')  # this as developer
string1.count('ola')# as developer mode

3

$replace$

In [17]:
string1='welcome'
# relace 'l' with 'L'
string1.replace('l','L')

'weLcome'

In [18]:
string1='restart'
string1.replace('r','$')

'$esta$t'

In [19]:
string1='restart'
string1.replace('r','$',1)

'$estart'

In [20]:
len(string1)
max(string1)

't'

In [22]:
string1='restart'
string1.replace('r','$',2)

'$esta$t'

In [27]:
string1='restart'
s1=string1[0]
s2=string1[1:].replace('r','$')
s1+s2

'resta$t'

In [28]:
string1[::-1].replace('r','$',1)[::-1]

'resta$t'

$index$

In [29]:
string1='welcome python'
# index of 'c'
string1.index('c')

3

In [30]:
string1='welcome python'
string1.index('z') # sub string not found

ValueError: substring not found

In [34]:
string1='hai how are you'
# how many 'a' are there
# what are the indexes of 'a'

count=0
for i in string1:
    if i=='a':
        count+=1
        
print(count)

2

In [36]:
for i in range(len(string1)):
    if string1[i]=='a':
        print(i)

1
8

In [37]:
string1.index('a') # only first occurance

1

In [38]:
string1='hai hai hai'
print(string1.index('a'))
print(string1.index('a',2))
print(string1.index('a',6))

1
5
9

In [ ]:
string1='hai hai hai hai'
print(string1.index('a'))
print(string1.index('a',1+1))# 1+1=====>2
print(string1.index('a',5+1))# 5+1=====>6
print(string1.index('a',9+1))# 9+1=====>10
print(string1.index('a',13+1))

In [42]:
string1='hai hai hai hai hai'
i1=(string1.index('a'))
i2=(string1.index('a',i1+1))# 1+1=====>2
i3=(string1.index('a',i2+1))# 5+1=====>6
i4=(string1.index('a',i3+1))# 9+1=====>10
i5=(string1.index('a',i4+1))
print(i1,i2,i3,i4,i5)

1 5 9 13 17

In [43]:
string1.index('a',string1.index('a',string1.index('a'))+1)+1

6

In [46]:
for i in string1:
    if i=='a':
        index=string1.index(i)
        print(string1.index(i,index+1))

5
5
5
5
5

In [48]:
string1='welcome helo hello'
print(string1.index('l'))
print(string1.index('l',string1.index('l')+1))
print(string1.index('l',string1.index('l',string1.index('l')+1)+1))

2
10
15

# Find

In [ ]:
# take one string
# string1.find()
# apply shift+tab
# read what it is says
# implement that

In [49]:
string1='hello hai how are you'
string1.find('a')

7

In [ ]:
string1='hello hai how are you'
string1.find('z')  # no error

# if substring not found it returns -1

string1.found('z')
# return zero

string1.index('z')
# value error: substring not found

In [ ]:
- capitalize
- upper
- lower 
- casefold

- index/find
- count
- replace

In [1]:
str1='hai how are you,im good'
str1.index('i') # first occurance

2

$strip$-$lstrip$-$rstrip$

In [5]:
str1=' hello how are you '
str2=" hello how are you"
str3="hello how are you "

print(str1.strip())   # remove space
print(str2.lstrip())  # left side
print(str3.rstrip())  # right side

hello how are you
hello how are you
hello how are you

In [6]:
# wap to extract
str2='python.anaconda@nareshit.com'
# extract first name:python
# extract second name: anaconda
# extract company name: nareshit
fir=str1.index('.')
sec=str1.index('@')
thir=str1.index('.',fir+1)
print(f"first name:{str2[:fir]}")
print(f"second name:{str2[fir+1:sec]}")
print(f"company name:{str2[fir+1:thir]}")

first name: hello
second name:how are
company name:how are you

In [11]:
str2='python.anaconda@nareshit.com'
fir=str2.find('.')
sec=str2.find('@')
thir=str2.find('.',fir+1)
print(f"first name:{str2[:fir]}")
print(f"second name:{str2[fir+1:sec]}")
print(f"company name:{str2[sec+1:thir]}")

first name:python
second name:anaconda
company name:nareshit

In [13]:
str1='omkar.nallagoni@congnizant.com'
fir=str1.find('.')
sec=str1.find('@')
thir=str1.find('.',fir+1)
print({str1[:fir]})
print({str1[fir+1:sec]})
print({str1[sec+1:thir]})

{'omkar'}
{'nallagoni'}
{'congnizant'}

In [15]:
str1='3.1489'
# extract 3
# extract 1489
print(str1[str1.find('.')-1])
print(str1[str1.find('.')+1:])

3
1489

In [23]:
str1='hai how are you'
str1.startswith('hai')
str1.startswith('h')

True

In [22]:
str1.startswith('hai')

True

In [24]:
str1.endswith('hai')

False

In [29]:
string1='abc123'
string2='123'
string3='abc123'
string4='ABC'
string1.isnumeric()

False

$Split$

In [32]:
str1='hai how are you'
str1.split()
# if i not provide anything inside bracket
# output is list format

['hai', 'how', 'are', 'you']

In [33]:
str1.split(',')

['hai how are you']

In [34]:
str1.split('')

ValueError: empty separator

In [35]:
str1='%%%hello%%%'
str1.strip('%')

'hello'

In [ ]:
# wap to identify the longest word abd shortest word in a given sentence
# wap to identify the most repated word in given sentence
# wap out of 3 string 'hyd','blr','mumbai'which is greater and which lower

- how to read the string
- single quotes/double quotes/triple quotes
- docstring
- type
- max
- min
- len
- addition of string
- multiplication
- substraction
- division
- in oparator(for loop)
- index
- mutable condition
- slice
- string methods:
    - count
    - replace