- list is an array of element
- list elements heterogeneous(different) data types are allowed
- duplicates are allowed
- list in last also work

In [2]:
type(list3)

NameError: name 'list3' is not defined

$max$

In [6]:
list1=[1,2,3,4]

In [7]:
list2=['A','B','C','D']

In [8]:
max(list1)

4

In [9]:
max(list2)

'D'

$in$

In [11]:
list1

[1, 2, 3, 4]

In [12]:
1 in list1
2 in list1
3 in list1

True

In [13]:
5 in list1

False

In [15]:
for i in list1:
    print(i)

1
2
3
4

$concatenation$

In [16]:
list1

[1, 2, 3, 4]

In [17]:
list2

['A', 'B', 'C', 'D']

In [18]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [20]:
new_list=list1+list2

In [21]:
new_list

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [22]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [23]:
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list1*list2
list1-list2 # all 3 are fail
list1/list2

$index$

In [24]:
list3=[1,2,3,4,'A','B','C','D']

In [25]:
list3[0],list3[1],list3[2],list3[3]

(1, 2, 3, 4)

In [26]:
list3[-1]

'D'

In [28]:
for i in range(len(list3)):
    print(i,list3(i))

TypeError: 'list' object is not callable

In [ ]:
for i in range(len(list3)):
    print('positive index is:{} and negative index is {}: for element {}'.format(i,i-len(list3),list3[])

In [30]:
# wap find the element which are having len<3
# list=['Apple','Ball','Cat','Ab','Cd','Ef']

list1=['Apple','Ball','Cat','Ab','Cd','Ef']
for i in list1:
    if len(i)<3:
        print(i)

Ab
Cd
Ef

In [31]:
['Apple','Ball','Cat','Ab','Cd','Ef']
for i in range(len(list1)):
    if len(list1[i])<3:
        print(list1[i])

Ab
Cd
Ef

In [36]:
# wap find the element which are having #
# list=['App#e','B#ll','C#t','Ab','Cd','Ef']

list1=['App#e','B#ll','C#t','Ab','Cd','Ef']
for i in list1:
     if '#' in i:
        print(i)

App#e
B#ll
C#t

In [38]:
count=0
list1=['App#e','B#ll','C#t','Ab','Cd','Ef']
for i in list1:
     if '#' in i:
        count+=1
        
print(count)

3

In [39]:
list1=[1,2,3,['Apple','Ball']]
# retrive the ball using index
# in given list 4 element are there
list1[3][1]

'Ball'

In [42]:
list2=[[[[[[['cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'cherry'

In [49]:
list3=[[[['A','B',[[[1,2,3,['car']]]]]]]]
list3[0][0][0][2][0][0][3][0]

'car'

$Mutable$

In [51]:
string1='welcome'
string1[2]='L'# string are imutable

TypeError: 'str' object does not support item assignment

In [50]:
list1=['A','B','C']
list1[0]=100
list1

[100, 'B', 'C']

$slice$

In [52]:
list1=[10,20,30,40,50,'P','Y','T','H','O','N','a','b','c','D']
list1[2:14:3]

[30, 'P', 'H', 'a']

In [55]:
print(list1[2:14:-3])
print(list1[2:-14:3])
print(list1[2:-14:-3])
print(list1[-2:14:3])
print(list1[-2:-14:3])
print(list1[-2:-14:-3])
print(list1[-2:14:-3])

[]
[]
[30]
['c']
[]
['c', 'N', 'T', 50]
[]

In [57]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$clear-copy$

In [59]:
list1=[1,2,3,4]
# i want copy these element in a list2

list2=list1.copy()
list2

list1.clear()

print('list:',list1)
print('list2:',list2)

list: []
list2: [1, 2, 3, 4]

In [ ]:
# side heading
# write the code
# insight/observation from the avobe the code

# Append

In [3]:
# add something to the end

list1=[100,200]
list1.append(300)
list1

[100, 200, 300]

In [4]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [7]:
list1.append([100,200])
list1

[100, 200, 300, [100, 200], [100, 200], [100, 200]]

In [8]:
list1.append('appele')
list1

[100, 200, 300, [100, 200], [100, 200], [100, 200], 'appele']

In [9]:
# input list=[1,2,3,4,5]
# creat a new list=[1,4,9,16,25]

list1=[1,2,3,4,5]
for i in list1:
    print(i*i,end=' ')

1 4 9 16 25

In [10]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
    
output

[1, 4, 9, 16, 25]

In [22]:
list2=['hyd','bengaluru','delhi']
# output==['Hyd','Bengaluru','Delhi']
output=[]
for i in list2:
    print(i)
    output.append(i.capitalize())
    
output

hyd
bengaluru
delhi

['Hyd', 'Bengaluru', 'Delhi']

In [26]:
list3=['h#d','beng#luru','delhi']
for i in list3:
     if '#' in i:
            print(i)

h#d
beng#luru

In [28]:
list3=['h#d','beng#luru','delhi']
output=[]
for i in list3:
     if '#' in i:
            output.append(i)
        
output

['h#d', 'beng#luru']

# List Comprehenshion

In [71]:
# code in a single line====> speed the process

list1=[1,2,3,4,5]

output=[]
for i in  list1:
    output.append(i*i)
output

[1, 4, 9, 16, 25]

In [80]:
output1=[(i*i) for i in list1]
output1

[1, 4, 9, 16, 25]

In [31]:
list2=['hyd','bengaluru','delhi']
# output==['Hyd','Bengaluru','Delhi']
output=[]
for i in list2:
    print(i)
    output.append(i.capitalize())
    
output    


output1=[i.capitalize() for i in list2]
output1

hyd
bengaluru
delhi

['Hyd', 'Bengaluru', 'Delhi']

In [ ]:
# create the list of 20 numbers from 1 to 20

In [36]:
######################=>m-1
#for i in range(1,21):
    #print(i)
    
########################=>m-2    
#numbers=[]
#for i in range(1,21):
   # number.append(i)
#numbers
########################=>m-3
numbers1=[i for i in range(1,21)]
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [41]:
list3=['h#d','beng#luru','delhi']
output=[]
for i in list3:
     if '#' in i:
            output.append(i)
        
output      

# [<o/p> <forloop> <if_condition>]
output1=[i for i in list3 if '#' in i]
output1

['h#d', 'beng#luru']

In [42]:
list4=['abcd','abc','ac','a']
# element less than 3
# ['ac','a']

output=[]
for i in range(len(list4)):
    if len(list4[i])<3:
        output.append(list4[i])
output

['ac', 'a']

In [43]:
output1=[list4[i]for i in range(len(list4))if len(list4[i])<3]
output1

['ac', 'a']

In [44]:
# if -else

list1=[1,2,3,4,5]
for i in list1:
    if i%2==0:
        print("{} is an even number".format(i))
    else:
        print("{} is an odd number".format(i))

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number

In [47]:
output=[]
list1=[1,2,3,4,5]
for i in list1:
    if i%2==0:
        output.append("even:{} ".format(i))
    else:
        output.append("odd:{} ".format(i))
        
output

['odd:1 ', 'even:2 ', 'odd:3 ', 'even:4 ', 'odd:5 ']

In [49]:
output1=[("even:{} ".format(i))if i%2==0 else ("odd:{} ".format(i))for i in list1]
output1

['odd:1 ', 'even:2 ', 'odd:3 ', 'even:4 ', 'odd:5 ']

$Count$

In [50]:
list1=[1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [51]:
count=0
for i in list1:
    if i=='B':
        count=count+1
print(count)

3

$Extend$

In [52]:
list1=['A','B','C']
list2=[1,2,3]
list1.extend(list2)
list1

['A', 'B', 'C', 1, 2, 3]

In [54]:
list1=['A','B','C']
list2=[1,2,3]
list3=list1+list2

print(list3)

['A', 'B', 'C', 1, 2, 3]

# append vs extend vs concat

In [ ]:
- append will add the element at last ,that element can be any type
   - list1=[1,2,3]
    
   - list2=['A','B']

   - list1.extend(list2)=[1,2,3,['A','B']]
    
-   Extend will update
   - list1=[1,2,3]
    
   - list2=['A','B']

   - list1.extend(list2)=[1,2,3,['A','B']]

$ iterator$

- iterator word ====> loop

- the element we can print using for loop

- string='python' we can print each letter using for loop

- list1=[1,2,3] we can print each element using for loop

In [55]:
val=reversed('python')
val

In [56]:
for i in val:
    print(i)

n
o
h
t
y
p

In [57]:
list1=[1,2,3]
list1.extend('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [58]:
list1=[1,2,3]
#list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'python']

$Pop-remove-del$

In [59]:
list1.pop()

'python'

In [60]:
list1

[1, 2, 3]

In [62]:
list1
list1.pop(3)

# in side bracket defult aragument is there index=-1
# -1 means last value
# if you not provide any value
# it will remove last value
# if i provide any index ,it will remove that element

# it also returning ,which element it is removing

IndexError: pop index out of range

In [63]:
list1.pop(100)

IndexError: pop index out of range

In [64]:
list1=[100,200,300] # duplicates are allowed
list1.remove(100)  # first occurance will game
list1

[200, 300]

In [65]:
del(list1)  # Deleted

In [66]:
list1

NameError: name 'list1' is not defined

In [67]:
list1=[100,200,300,400]
del list1[2]

list1

[100, 200, 400]

In [ ]:
- index  vs multiple values

- insert vs append

- reverse ascending and descending ===== reversed

- sort ======= sorted

- difference between reverse and sort

In [68]:
list1=[1,2,3,4,5]
del list1[4]

list1

[1, 2, 3, 4]

In [85]:
list1=[1,2,3,4,5,3]
list1.index(3)

2

In [87]:
list1=[1,2,3,4,5,3]
f_i=list1.index(3)
list1.index(3,f_i+1)

5

$Zip$

In [1]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]

# ram age is 25
# robert age is 30
# raheem age is 35
for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [90]:

list1=[100,200,300]
list2=[25,30,335]
output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 635]

In [91]:
output=[]
list1=[100,200,300]
list2=[25,30,335]
for i,j in zip(list1,list2):
    output.append(i+j)
output

[125, 230, 635]

In [ ]:
# take 5 qustions in list1
# take corresponding 5 answers in anthoer  list2
# iterate through list1
# every question shouid print
# answer=input('tell the answer')
# answer will check in list2
# if it is there : marks=marks+1
# else: No marks

# how many write answer you made ,how many answer you get

################################################
# list1=['who is pm of india','what is the capital of india','who is president of india']
# list2=["modi",'delhi','draupadi']
# marks=0
# correct_answer =0
# for i in len(list1):

In [1]:
word = "apple"
capitalized_word = word.replace('a', 'A').replace('p', 'P')
print(capitalized_word)

APPle